body{
    background-color: rgb(12, 129, 106);

}
div#a1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
fieldset{
    border: 10px solid  rgb(229, 228, 234);
    border-width: 4px; 
    
    margin-right: 200px;
    margin-left: 200px;

}